.vs/
MemeFolder/bin/
MemeFolder/obj/
MemeFolder.ConsoleTest/bin/
MemeFolder.ConsoleTest/obj/
MemeFolder.Domain/bin/
MemeFolder.Domain/obj/
MemeFolder.EntityFramework/bin/
MemeFolder.EntityFramework/obj/
MemeFolder.Navigation/bin/
MemeFolder.Navigation/obj/